<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_Junior::junior" title="Clock"
             module="Magenest_Junior" sortOrder="50"
             dependsOnModule="Magenest_Junior" resource="Magenest_Junior::junior"/>

        <add id="Magenest_Junior::Clock"
             title="Countdown Management"
             module="Magenest_Junior"
             sortOrder="5"
             parent="Magenest_Junior::junior"
             action="junior/clock/index"
             resource="Magenest_Junior::Clock"/>

        <add id="Magenest_Junior::clock_config" title="Clock Configuration"
             module="Magenest_Junior" sortOrder="10" parent="Magenest_Junior::junior"
             action="adminhtml/system_config/edit/section/magenest_clock"
             resource="Magenest_Junior::clock_config"/>
    </menu>
</config>
