<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="100" class="magenest-tab">
            <label><![CDATA[<a href="http://magenest.com/" target="_BLANK" title="">magenest.com</a>]]></label>
        </tab>
        <section id="magenest_clock" translate="label" type="text" sortOrder="100" showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Clock</label>
            <tab>magenest</tab>
            <resource>Magenest_Junior::clock_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Default Clock</label>
                <field id="clock_title" translate="label" type="text" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clock Title</label>
                </field>

                <field id="clock_size" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clock Size</label>
                    <source_model>Magenest\Junior\Model\Config\Clock\Size</source_model>
                </field>

                <field id="clock_color" translate="label" type="text" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clock Color</label>
                    <frontend_model>Magenest\Junior\Block\Color</frontend_model>
                </field>

                <field id="text_color" translate="label" type="text" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Color</label>
                    <frontend_model>Magenest\Junior\Block\Color</frontend_model>
                </field>

                <field id="clock_type" translate="label" type="text" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clock type</label>
                    <frontend_model>Magenest\Junior\Block\Adminhtml\Config\Dynamic</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
